{% extends "layout.html" %}
{% block content %}
   {% for h in homes %}
      <article class="media content-section">
         <div class="media-body">
         <div class="article-metadata">
            <a class="mr-2" href="#">{{ h.author }}</a>

            <!--
            <small class="text-muted">{{ h.date_posted }}</small>
         </div>
         <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
         <p class="article-content">{{ h.content }}</p>
      -->

         </div>
      </article>
      {% endfor %}
{% endblock content %}      