{% extends "layout.html" %}
{% block content %}
   {% for h in homes %}
      <article class="media content-section">
         <div class="media-body">
            <div class="article-metadata">

               <!-- <big class="text-muted">{{ h.address }}</big> -->
               <a class="mr-2" href="{{ url_for( 'property_detail', prop_id=h.property_id)}}">{{ h.address }}</a>

            </div>
         
         <!-- List all the roommates here  -->
         {% print( 'Current Tenants: \n' ) %}
         
         {% for r in roommates %}
            {% if h.property_id == r.property_address %}
               <p>{{ r.first_name + " " + r.last_name }}</p>
            {% endif %}
         {% endfor %}
         </div>
      </article>
      {% endfor %}
{% endblock content %}      